<div class="app-card-container"> 
  <div class="card"> 
  
    <h1>Would you like to work together?</h1> 
    <hr> 

    <div class="row"> 
      <div class="col-md-6"> 
        <h3>Office Address</h3> 
 
        <p>1/14 Camoola Avenue, Ballina, NSW 2478</p> 

        <h3>Phone</h3> 

        <p> 0400 617 060</p 
 
        <h3>Email</h3> 

        <p><a href="mailto:pmlc@iinet.net.au?subject=PortfolioContact" "email me">Email me</a> </p> 

        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3494.005831983121!2d153.55101351423815!3d-28.868444584533556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b908021629357d5%3A0x6fd5cb1fb1cebf54!2s1%2F14+Camoola+Ave%2C+Ballina+NSW+2478!5e0!3m2!1sen!2sau!4v1539127463683" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
        </div> 
    </div>
  </div
</div> 